html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-image: url(./images/bg.png);
  background-repeat: repeat repeat;
  background-size: inherit;
  font-family:
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Helvetica Neue", Arial, sans-serif;
}

canvas {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  cursor: none;
}

.button {
  background: #124440;
  margin: 30px 0;
  padding: 5px 70px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  background: #17635d;
  -webkit-box-shadow: 0px 0px 27px -3px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 27px -3px rgba(0,0,0,1);
  box-shadow: 0px 0px 27px -3px rgba(0,0,0,1);
}

.game-menu,
.game-over-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  font-size: 3rem;
  flex-direction: column;
}

.game-over-score {
  font-weight: 900;
  background: #123;
  padding: 0 20px;
  border-radius: 10px;
}